@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-header {
    font-family: 'Varela Round', sans-serif;
}

.navbar-container {
    display: inline-flex;
    align-items: space-between;
}